@arrow-size: .7rem;
@daterangepicker-color: inherit;
@daterangepicker-bg-color: #fff;
@daterangepicker-cell-color: @daterangepicker-color;
@daterangepicker-cell-border-color: transparent;
@daterangepicker-cell-bg-color: @daterangepicker-bg-color;
@daterangepicker-cell-hover-color: @daterangepicker-color;
@daterangepicker-cell-hover-border-color: @daterangepicker-cell-border-color;
@daterangepicker-cell-hover-bg-color: #eee;
@daterangepicker-in-range-color: #000;
@daterangepicker-in-range-border-color: transparent;
@daterangepicker-in-range-bg-color: #ebf4f8;
@daterangepicker-active-color: #fff;
@daterangepicker-active-bg-color: #357ebd;
@daterangepicker-active-border-color: transparent;
@daterangepicker-unselected-color: #999;
@daterangepicker-unselected-border-color: transparent;
@daterangepicker-unselected-bg-color: #fff;
// daterangepicker
@daterangepicker-width: 27.8rem;
@daterangepicker-padding: .4rem;
@daterangepicker-z-index: 3000;
@daterangepicker-border-size: 1px;
@daterangepicker-border-color: #ccc;
@daterangepicker-border-radius: .4rem;
// Calendar
@daterangepicker-calendar-margin: @daterangepicker-padding;
@daterangepicker-calendar-bg-color: @daterangepicker-bg-color;
@daterangepicker-calendar-border-size: 1px;
@daterangepicker-calendar-border-color: @daterangepicker-bg-color;
@daterangepicker-calendar-border-radius: @daterangepicker-border-radius;
// Calendar Cells
@daterangepicker-cell-size: 2rem;
@daterangepicker-cell-width: @daterangepicker-cell-size;
@daterangepicker-cell-height: @daterangepicker-cell-size;
@daterangepicker-cell-border-radius: @daterangepicker-calendar-border-radius;
@daterangepicker-cell-border-size: 1px;
// Dropdowns
@daterangepicker-dropdown-z-index: @daterangepicker-z-index + 1;
// Controls
@daterangepicker-control-height: 3rem;
@daterangepicker-control-line-height: @daterangepicker-control-height;
@daterangepicker-control-color: #555;
@daterangepicker-control-border-size: 1px;
@daterangepicker-control-border-color: #ccc;
@daterangepicker-control-border-radius: .4rem;
@daterangepicker-control-active-border-size: 1px;
@daterangepicker-control-active-border-color: #08c;
@daterangepicker-control-active-border-radius: @daterangepicker-control-border-radius;
@daterangepicker-control-disabled-color: #ccc;
// Ranges
@daterangepicker-ranges-color: #08c;
@daterangepicker-ranges-bg-color: #f5f5f5;
@daterangepicker-ranges-border-size: 1px;
@daterangepicker-ranges-border-color: @daterangepicker-ranges-bg-color;
@daterangepicker-ranges-border-radius: @daterangepicker-border-radius;
@daterangepicker-ranges-hover-color: #fff;
@daterangepicker-ranges-hover-bg-color: @daterangepicker-ranges-color;
@daterangepicker-ranges-hover-border-size: @daterangepicker-ranges-border-size;
@daterangepicker-ranges-hover-border-color: @daterangepicker-ranges-hover-bg-color;
@daterangepicker-ranges-hover-border-radius: @daterangepicker-border-radius;
@daterangepicker-ranges-active-border-size: @daterangepicker-ranges-border-size;
@daterangepicker-ranges-active-border-color: @daterangepicker-ranges-bg-color;
@daterangepicker-ranges-active-border-radius: @daterangepicker-border-radius;
// STYLESHEETS
//
.daterangepicker {
    position: absolute;
    color: @daterangepicker-color;
    background: @daterangepicker-bg-color;
    border-radius: @daterangepicker-border-radius;
    width: @daterangepicker-width;
    padding: @daterangepicker-padding;
    margin-top: @daterangepicker-border-size;
    top: 10rem;
    left: 2rem;
    @arrow-prefix-size: @arrow-size;
    @arrow-suffix-size: (@arrow-size - @daterangepicker-border-size);
    &:before, &:after {
        position: absolute;
        display: inline-block;
        border-bottom-color: rgba(0, 0, 0, 0.2);
        content: '';
    }
    &:before {
        top: -@arrow-prefix-size;
        border-right: @arrow-prefix-size solid transparent;
        border-left: @arrow-prefix-size solid transparent;
        border-bottom: @arrow-prefix-size solid @daterangepicker-border-color;
    }
    &:after {
        top: -@arrow-suffix-size;
        border-right: @arrow-suffix-size solid transparent;
        border-bottom: @arrow-suffix-size solid @daterangepicker-bg-color;
        border-left: @arrow-suffix-size solid transparent;
    }
    &.opensleft {
        &:before {
            // TODO: Make this relative to prefix size.
            right: @arrow-prefix-size + .2rem;
        }
        &:after {
            // TODO: Make this relative to suffix size.
            right: @arrow-suffix-size + .4rem;
        }
    }
    &.openscenter {
        &:before {
            left: 0;
            right: 0;
            width: 0;
            margin-left: auto;
            margin-right: auto;
        }
        &:after {
            left: 0;
            right: 0;
            width: 0;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &.opensright {
        &:before {
            // TODO: Make this relative to prefix size.
            left: @arrow-prefix-size + .2rem;
        }
        &:after {
            // TODO: Make this relative to suffix size.
            left: @arrow-suffix-size + .4rem;
        }
    }
    &.dropup {
        margin-top: -.5rem;
        // NOTE: Note sure why these are special-cased.
        &:before {
            top: initial;
            bottom: -@arrow-prefix-size;
            border-bottom: initial;
            border-top: @arrow-prefix-size solid @daterangepicker-border-color;
        }
        &:after {
            top: initial;
            bottom: -@arrow-suffix-size;
            border-bottom: initial;
            border-top: @arrow-suffix-size solid @daterangepicker-bg-color;
        }
    }
    &.dropdown-menu {
        max-width: none;
        z-index: @daterangepicker-dropdown-z-index;
    }
    &.single {
        .ranges, .calendar {
            float: none;
        }
    }
    /* Calendars */
    &.show-calendar {
        .calendar {
            display: block;
        }
    }
    .calendar {
        display: none;
        max-width: @daterangepicker-width - (@daterangepicker-calendar-margin * 2);
        margin: @daterangepicker-calendar-margin;
        &.single {
            .calendar-table {
                border: none;
            }
        }
        th, td {
            white-space: nowrap;
            text-align: center;
            // TODO: Should this actually be hard-coded?
            min-width: 32px;
        }
    }
    .calendar-table {
        border: @daterangepicker-calendar-border-size solid @daterangepicker-calendar-border-color;
        padding: @daterangepicker-calendar-margin;
        border-radius: @daterangepicker-calendar-border-radius;
        background: @daterangepicker-calendar-bg-color;
    }
    table {
        width: 100%;
        margin: 0;
    }
    td, th {
        text-align: center;
        width: @daterangepicker-cell-width;
        height: @daterangepicker-cell-height;
        border-radius: @daterangepicker-cell-border-radius;
        border: @daterangepicker-cell-border-size solid @daterangepicker-cell-border-color;
        white-space: nowrap;
        cursor: pointer;
        &.available {
            &:hover {
                background-color: @daterangepicker-cell-hover-bg-color;
                border-color: @daterangepicker-cell-hover-border-color;
                color: @daterangepicker-cell-hover-color;
            }
        }
        &.week {
            font-size: 80%;
            color: #ccc;
        }
    }
    td {
        &.off {
            &, &.in-range, &.start-date, &.end-date {
                background-color: @daterangepicker-unselected-bg-color;
                border-color: @daterangepicker-unselected-border-color;
                color: @daterangepicker-unselected-color;
            }
        }
        //
        // Date Range
        &.in-range {
            background-color: @daterangepicker-in-range-bg-color;
            border-color: @daterangepicker-in-range-border-color;
            color: @daterangepicker-in-range-color;
            // TODO: Should this be static or should it be parameterized?
            border-radius: 0;
        }
        &.start-date {
            border-radius: @daterangepicker-cell-border-radius 0 0 @daterangepicker-cell-border-radius;
        }
        &.end-date {
            border-radius: 0 @daterangepicker-cell-border-radius @daterangepicker-cell-border-radius 0;
        }
        &.start-date.end-date {
            border-radius: @daterangepicker-cell-border-radius;
        }
        &.active {
            &, &:hover {
                background-color: @daterangepicker-active-bg-color;
                border-color: @daterangepicker-active-border-color;
                color: @daterangepicker-active-color;
            }
        }
    }
    th {
        &.month {
            width: auto;
        }
    }
    //
    // Disabled Controls
    //
    td, option {
        &.disabled {
            color: #999;
            cursor: not-allowed;
            text-decoration: line-through;
        }
    }
    select {
        &.monthselect, &.yearselect {
            font-size: 1.2rem;
            padding: 1px;
            height: auto;
            margin: 0;
            cursor: default;
        }
        &.monthselect {
            margin-right: 2%;
            width: 56%;
        }
        &.yearselect {
            width: 40%;
        }
        &.hourselect, &.minuteselect, &.secondselect, &.ampmselect {
            width: 50px;
            margin-bottom: 0;
        }
    }
    //
    // Text Input Controls (above calendar)
    //
    .input-mini {
        border: @daterangepicker-control-border-size solid @daterangepicker-control-border-color;
        border-radius: @daterangepicker-control-border-radius;
        color: @daterangepicker-control-color;
        height: @daterangepicker-control-line-height;
        line-height: @daterangepicker-control-height;
        display: block;
        vertical-align: middle;
        // TODO: Should these all be static, too??
        margin: 0 0 5px 0;
        padding: 0 .6rem 0 2.8rem;
        width: 100%;
        &.active {
            border: @daterangepicker-control-active-border-size solid @daterangepicker-control-active-border-color;
            border-radius: @daterangepicker-control-active-border-radius;
        }
    }
    .daterangepicker_input {
        position: relative;
        i {
            position: absolute;
            // NOTE: These appear to be eyeballed to me...
            left: .8rem;
            top: .8rem;
        }
    }
    &.rtl {
        .input-mini {
            padding-right: 2.8rem;
            padding-left: .6rem;
        }
        .daterangepicker_input i {
            left: auto;
            right: .8rem;
        }
    }
    //
    // Time Picker
    //
    .calendar-time {
        text-align: center;
        margin: .5rem auto;
        line-height: @daterangepicker-control-line-height;
        position: relative;
        padding-left: 2.8rem;
        select {
            &.disabled {
                color: @daterangepicker-control-disabled-color;
                cursor: not-allowed;
            }
        }
    }
}
//
// Predefined Ranges
//
.ranges {
    font-size: 1.1rem;
    float: none;
    margin: .4rem;
    text-align: left;
    ul {
        list-style: none;
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }
    li {
        font-size: 13px;
        background: @daterangepicker-ranges-bg-color;
        border: @daterangepicker-ranges-border-size solid @daterangepicker-ranges-border-color;
        border-radius: @daterangepicker-ranges-border-radius;
        color: @daterangepicker-ranges-color;
        padding: 3px 12px;
        margin-bottom: 8px;
        cursor: pointer;
        &:hover {
            background: @daterangepicker-ranges-hover-bg-color;
            border: @daterangepicker-ranges-hover-border-size solid @daterangepicker-ranges-hover-border-color;
            color: @daterangepicker-ranges-hover-color;
        }
        &.active {
            background: @daterangepicker-ranges-hover-bg-color;
            border: @daterangepicker-ranges-hover-border-size solid @daterangepicker-ranges-hover-border-color;
            color: @daterangepicker-ranges-hover-color;
        }
    }
}

/*  Larger Screen Styling */

@media (min-width: 564px) {
    .daterangepicker {
        width: auto;
        .ranges {
            ul {
                width: 160px;
            }
        }
        &.single {
            .ranges {
                ul {
                    width: 100%;
                }
            }
            .calendar.left {
                clear: none;
            }
            &.ltr {
                .ranges, .calendar {
                    float: left;
                }
            }
            &.rtl {
                .ranges, .calendar {
                    float: right;
                }
            }
        }
        &.ltr {
            direction: ltr;
            text-align: left;
            .calendar {
                &.left {
                    clear: left;
                    margin-right: 0;
                    .calendar-table {
                        border-right: none;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }
                }
                &.right {
                    margin-left: 0;
                    .calendar-table {
                        border-left: none;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                }
            }
            .left .daterangepicker_input {
                padding-right: 12px;
            }
            .calendar.left .calendar-table {
                padding-right: 12px;
            }
            .ranges, .calendar {
                float: left;
            }
        }
        &.rtl {
            direction: rtl;
            text-align: right;
            .calendar {
                &.left {
                    clear: right;
                    margin-left: 0;
                    .calendar-table {
                        border-left: none;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                }
                &.right {
                    margin-right: 0;
                    .calendar-table {
                        border-right: none;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }
                }
            }
            .left .daterangepicker_input {
                padding-left: 12px;
            }
            .calendar.left .calendar-table {
                padding-left: 12px;
            }
            .ranges, .calendar {
                text-align: right;
                float: right;
            }
        }
    }
}
@media (min-width: 730px) {
    .daterangepicker {
        .ranges {
            width: auto;
        }
        &.ltr {
            .ranges {
                float: left;
            }
        }
        &.rtl {
            .ranges {
                float: right;
            }
        }
        .calendar.left {
            clear: none !important;
        }
    }
}
