.noUI {
  &-target, &-target * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box
  }
  &-target {
    position: relative;
    direction: ltr;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    border-radius: 4px;
    border: 1px solid #D3D3D3;
    box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
    &.noUi-connect {
      box-shadow: inset 0 0 3px rgba(51, 51, 51, .45), 0 3px 6px -5px #BBB
    }
    .noUi-draggable {
      cursor: w-resize
    }
  }
  &-base {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  }
  &-origin {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: 2px;
  }
  &-handle {
    position: relative;
    z-index: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    &:after, &:before {
      content: "";
      display: block;
      position: absolute;
      height: 14px;
      width: 1px;
      background: #E8E7E6;
      left: 14px;
      top: 6px
    }
    &:after {
      left: 17px
    }
  }
  &-stacking .noUi-handle {
    z-index: 10
  }
  &-state-tap .noUi-origin {
    -webkit-transition: left .3s, top .3s;
    transition: left .3s, top .3s
  }
  &-state-drag * {
    cursor: inherit!important
  }
  &-horizontal {
    height: 18px;
    .noUi-handle {
      width: 34px;
      height: 28px;
      left: -17px;
      top: -6px
    }
    .noUi-handle-lower .noUi-tooltip {
      top: -32px
    }
    .noUi-handle-upper .noUi-tooltip {
      bottom: -32px
    }
  }
  &-vertical {
    width: 18px;
    .noUi-handle {
      width: 28px;
      height: 34px;
      left: -6px;
      top: -17px
    }
    .noUi-draggable {
      cursor: n-resize
    }
    .noUi-handle {
      border: 1px solid #D9D9D9;
      border-radius: 3px;
      background: #FFF;
      cursor: default;
      box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
      &:before, &:after {
        width: 14px;
        height: 1px;
        left: 6px;
        top: 14px
      }
    }
    .noUi-handle-lower .noUi-tooltip {
      left: 120%;
    }
    .noUi-handle-upper .noUi-tooltip {
      right: 120%;
    }
    .noUi-handle:after {
      top: 17px;
    }
  }
  &-background {
    background: #FAFAFA;
    box-shadow: inset 0 1px 1px #f0f0f0
  }
  &-connect {
    background: #3FB8AF;
    box-shadow: inset 0 0 3px rgba(51, 51, 51, .45);
    -webkit-transition: background 450ms;
    transition: background 450ms
  }
  &-active {
    box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB
  }
  [disabled] &-connect, [disabled]&-connect {
    background: #B8B8B8
  }
  [disabled] &-handle, [disabled]&-origin {
    cursor: not-allowed
  }
  &-pips, &-pips * {
    -moz-box-sizing: border-box;
    box-sizing: border-box
  }
  &-pips {
    position: absolute;
    color: #999
  }
  &-pips-horizontal {
    padding: 10px 0;
    height: 80px;
    top: 100%;
    left: 0;
    width: 100%
  }
  &-pips-vertical {
    padding: 0 10px;
    height: 100%;
    top: 0;
    left: 100%
  }
  &-value {
    position: absolute;
    text-align: center
  }
  &-value-sub {
    color: #ccc;
    font-size: 10px
  }
  &-value-horizontal {
    -webkit-transform: translate3d(-50%, 50%, 0);
    transform: translate3d(-50%, 50%, 0)
  }
  &-value-vertical {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    padding-left: 25px
  }
  &-marker {
    position: absolute;
    background: #CCC
  }
  &-marker-large, &-marker-sub {
    background: #AAA
  }
  &-marker-horizontal {
    &.noUi-marker {
      margin-left: -1px;
      width: 2px;
      height: 5px
    }
    &.noUi-marker-sub {
      height: 10px
    }
    &.noUi-marker-large {
      height: 15px
    }
  }
  &-marker-vertical {
    &.noUi-marker {
      width: 5px;
      height: 2px;
      margin-top: -1px
    }
    &.noUi-marker-sub {
      width: 10px
    }
    &.noUi-marker-large {
      width: 15px
    }
  }
  &-tooltip {
    display: block;
    position: absolute;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    background: #fff;
    padding: 5px;
    text-align: center
  }
}
