<div class="outdatedbrowser-header">
	<div id="outdatedbrowser-btn">Outdated Browser</div>
	<p>For a better experience, keep your browser up to date. Check here for latest versions.</p>
	 <p class="last"><a href="#" id="outdatedbrowser-close" title="Close">&times;</a></p>
</div>
 
<div class="outdatedbrowser-blocks">
	<div class="item item-1">
		<div>
			<span></span>
			<div>GOOGLE CHROME</div>
			<a href="#">Download</a>
		</div>
	</div>
	<div class="item item-2">
		<div>
			<span></span>
			<div>MOZILLA FIREFOX</div>
			<a href="#">Download</a>
		</div>
	</div>
	<div class="item item-3">
		<div>
			<span></span>
			<div>INTERNET EXPLORER</div>
			<a href="#">Download</a>
		</div>
	</div>
	<div class="item item-4">
		<div>
			<span></span>
			<div>APPLE SAFARI</div>
			<a href="#">Download</a>
		</div>
	</div>
	<div class="item item-5">
		<div>
			<span></span>
			<div>OPERA</div>
			<a href="#">Download</a>
		</div>
	</div>
</div>